body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Epilogue", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5%;
}

#team {
  background-color: #28293E;
}
#team .container .team {
  width: 100%;
  padding: 100px 0;
}
#team .container .team .team-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#team .container .team .team-header .head-text {
  width: 50%;
}
#team .container .team .team-header .head-text h5 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  padding-top: 50px;
  color: #EF6D58;
}
#team .container .team .team-header .head-text h2 {
  font-size: 56px;
  font-weight: 800;
  color: #FFFFFF;
}
#team .container .team .team-header .head-circle {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  column-gap: 16px;
}
#team .container .team .team-header .head-circle .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border: 1px solid rgba(255, 255, 255, 0.363);
  border-radius: 50%;
}
@media only screen and (max-width: 992px) {
  #team .container .team .team-header {
    flex-direction: column;
    align-items: center;
  }
  #team .container .team .team-header .team-header {
    width: 100%;
  }
  #team .container .team .team-header .head-circle {
    display: none;
  }
  #team .container .team .team-header .head-text h2 {
    font-size: 40px;
  }
}
#team .container .team .team-person {
  margin-top: 64px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 40px;
}
#team .container .team .team-person .card-team {
  width: 25%;
}
#team .container .team .team-person .card-team .card-image {
  text-align: center;
  width: 100%;
  border: 1px solid #3A3C56;
  border-radius: 6px;
  display: flex;
  justify-content: center;
}
#team .container .team .team-person .card-team .card-image img {
  width: 100%;
  padding: 50px 0 1px 0;
}
#team .container .team .team-person .card-team .card-image .roe {
  padding-top: 145px;
}
#team .container .team .team-person .card-team .card-image .leo {
  padding-top: 75px;
}
#team .container .team .team-person .card-team .card-image .bella {
  padding-top: 115px;
}
#team .container .team .team-person .card-team h4 {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 24px;
}
#team .container .team .team-person .card-team p {
  font-size: 16px;
  margin: -20px 0;
  color: rgba(255, 255, 255, 0.64);
}
@media only screen and (max-width: 992px) {
  #team .container .team .team-person {
    flex-direction: column;
    align-items: center;
    row-gap: 60px;
  }
  #team .container .team .team-person .card-team {
    width: 50%;
  }
}
#team .container .team .points {
  margin-top: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}
#team .container .team .points .point {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #4e4f6e;
  background-color: transparent;
}
#team .container .team .points .color {
  background-color: #EF6D58;
  border: 1px solid #EF6D58;
}

.founderwords {
  background-color: #28293E;
}
.founderwords .container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #28293E;
  column-gap: 120px;
  padding-top: 90px;
  padding-bottom: 110px;
}
.founderwords .container .founderwordsleft #rendelanimg {
  margin-left: 55px;
  width: 447px;
  height: 420px;
}
.founderwords .container .founderwordsright {
  position: relative;
}
.founderwords .container .founderwordsright #mark {
  position: absolute;
  left: 340px;
}
.founderwords .container .founderwordsright #founderwords {
  font-family: "Epilogue", sans-serif;
  font-style: normal;
  color: #EF6D58;
}
.founderwords .container .founderwordsright #digitalagency {
  flex-wrap: wrap;
  font-family: "Epilogue", sans-serif;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 800;
  font-size: 44px;
  position: relative;
}
.founderwords .container .founderwordsright #rendelan {
  font-family: "Epilogue", sans-serif;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}
.founderwords .container .founderwordsright #founder {
  font-family: "Epilogue", sans-serif;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

@media only screen and (max-width: 992px) {
  .founderwords .container {
    row-gap: 50px;
    flex-direction: column;
  }
  .founderwords .container .founderwordsleft #rendelanimg {
    width: 280.32px;
    height: 242.81px;
  }
  .founderwords .container .founderwordsright {
    padding: 20px;
    margin-left: 75px;
  }
  .founderwords .container .founderwordsright #digitalagency {
    font-family: "Epilogue";
    font-style: normal;
    width: 320px;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
  }
  .founderwords .container .founderwordsright #rendelan {
    font-weight: 400;
    font-size: 20px;
  }
  .founderwords .container .founderwordsright #founderwords {
    font-weight: 400;
    font-size: 14px;
  }
  .founderwords .container .founderwordsright #mark {
    left: 250px;
  }
}/*# sourceMappingURL=main.css.map */